
.block-drop-down-menu-Size {
	background-color: #111a28;
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	width: 90px;
	height: 40px;
	border: solid 0.5px white;
	margin-top: 250px;
	margin-left: 480px;
	margin-right: 10px;
	font-family: museo-sans, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 17px;
	text-align: center;
	line-height: 40px;
	color: white;
	letter-spacing: 1px;
}

.block-drop-down-menu-Size__options {
	display: inline-block;
	background-color: #111a28;
	font-family: museo-sans, sans-serif;
	font-style: normal;
	font-weight: 100;
	line-height: 40px;
	color: white;
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
}
